
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.nav-logo{
    font-size: 2.8rem;
    font-weight: bold;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 40px;
}

ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1450px;
    margin: 0 auto;
}


/****banner related styles****/

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-description {
    font-size: 1rem;
    color: #727272;
}

.btn-1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    background-color: #FF900E;
}

.banner img {
    max-width: 100%;
}

main {
    max-width: 1340px;
    margin: 0px auto;
}

main > section {
    margin-top: 120px;
}

/***feature related styles***/

.teams {
    display: flex;
    align-items: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.team-content {
    max-width: 530px;
    margin-left: 73px;
}

.feature-title {
    font-size: 2.8rem;
    font-weight: bold;
}
.part-1 {
    color: #727272;
}
.part-2 {
    color: black;
}
.part-3 {
    color: #FF900E;
}

.feature-description {
    font-size: 1rem;
    color: #727272;
    margin-top: 25px;
    margin-bottom: 30px;
}



/**enjoy related style**/


.enjoy {
    display: flex;
    gap: 100px;
}

#enjoy-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    border-radius: 3px;
}

.enjoy-description {
    margin-bottom: 30px;
    color: #727272;
}

.enjoy-card {
    padding: 30px;
    box-shadow: 0 4px 300px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.enjoy-card h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}

.enjoy-card p {
    color: #727272;
    margin-top: 10px;
}


.btn-3 {
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 42px 46px;
    margin-left: -50px;
    margin-top: -120px;
}

.part-4 {
    color: white;
    font-size: 4rem;
    font-weight: bold;
}
.part-5 {
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
}

#enjoy-pic {
    width: 100%;
}
/***fact***/

.fact-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.fact-description {
    font-size: 1rem;
    color: #727272;
    max-width: 540px;
    margin-bottom: 100px;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

.fact {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
}

.fact-icon {
    margin-top: 50px;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
    color: #727272;
}


/***sponsore style***/


.sponsore-title {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.sponsor-description {
    margin: 50px auto;
    text-align: center;
    color: #727272;
    max-width: 540px;
}

.sponsore-img-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsore-img-container img {
    filter: grayscale(100%);
}


/***footer***/

.foot-description {
    margin: 170px auto;
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 40px 310px;
}




@media screen and (max-width: 576px) {
    .navbar, ul {
        flex-direction: column;
    }

    .teams {
        flex-direction: column;
    }

    .team-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    }

    .team-content {
        margin-left: 20px;
    }

    .fact-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 24px;
    }
    .sponsore-img-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .enjoy {
        flex-direction: column;
    }

    
    
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }
    .team-content {
        margin-left: 50px;
    }
    .fact-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 24px;
    }
    
    .sponsore-img-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
    }

    .enjoy {
        flex-direction: column;
    }
}