
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.nav-logo{
    font-size: 2.8rem;
    font-weight: bold;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 40px;
}

ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1450px;
    margin: 0 auto;
}


/****banner related styles****/

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-description {
    font-size: 1rem;
    color: #727272;
}

.btn-1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    background-color: #FF900E;
}

.banner img {
    max-width: 100%;
}

main {
    max-width: 1340px;
    margin: 0 auto;
}

main > section {
    margin-top: 120px;
}

/***feature related styles***/

.teams {
    display: flex;
    align-items: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.team-content {
    max-width: 530px;
    margin-left: 73px;
}

.feature-title {
    font-size: 2.8rem;
    font-weight: bold;
}
.part-1 {
    color: #727272;
}
.part-2 {
    color: black;
}
.part-3 {
    color: #FF900E;
}

.feature-description {
    font-size: 1rem;
    color: #727272;
    margin-top: 25px;
    margin-bottom: 30px;
}




@media screen and (max-width: 576px) {
    .navbar, ul {
        flex-direction: column;
    }

    .teams {
        flex-direction: column;
    }

    .team-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    }

    .team-content {
        margin-left: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }
    .team-content {
        margin-left: 50px;
    }
}